{% extends 'base.html' %} {% block body %}

<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://www.medev-com.eu/images/slider/02.jpg"
        class="d-block w-100"
        alt="First slide"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://www.shutterstock.com/image-photo/biotechnology-research-laboratory-female-asian-600nw-2456036601.jpg"
        class="d-block w-100"
        alt="Second slide"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://www.shutterstock.com/image-photo/doctor-examines-map-world-location-600nw-2229565683.jpg"
        class="d-block w-100"
        alt="Third slide"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Bootstrap JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Main content -->
<div class="wrapper">
  <div class="grid_image">
    <img src="../static/image/doctor_tools-01.png" alt="Image 1" />
    <img src="../static/image/doctor_tools-02.png" alt="Image 2" />
    <img src="../static/image/doctor_tools-03.png" alt="Image 3" />
    <img src="../static/image/doctor_tools-04.png" alt="Image 4" />
  </div>

  <div class="card">
    <h1>Medical Recommendation System</h1>

    <form method="POST" action="{% url 'index' %}">
      {% csrf_token %}
      <label for="symptoms">Enter symptoms (comma-separated):</label>
      <input
        type="text"
        id="symptoms"
        name="symptoms"
        placeholder="e.g., itching, skin_rash"
      />
      <button type="submit">Predict</button>
    </form>
  </div>
</div>

{% if predicted_disease %}
<!-- Modal for displaying prediction results -->
<div id="resultModal" class="modal" style="display: block">
  <div class="modal-content">
    <span class="close-btn">&times;</span>

    <h2>Predicted Disease: {{ predicted_disease }}</h2>

    <h3>Description:</h3>
    <p>{{ dis_des }}</p>

    <h3>Precautions:</h3>
    <ul>
      {% for precaution in precautions %}
      <li style="color: white">{{ precaution }}</li>
      {% endfor %}
    </ul>

    <h3>Medications:</h3>
    <ul>
      {% for medication in medications %}
      <li style="color: white">Medication : {{ medication }}</li>

      {% endfor %}
    </ul>

    <h3>Recommended Diet:</h3>
    <ul>
      {% for diet in rec_diet %}
      <li style="color: white">{{ diet }}</li>
      {% endfor %}
    </ul>

    <h3>Additional Diet Details:</h3>
    <ul>
      {% for detail in diets %}
      <li style="color: white">{{ detail }}</li>
      {% endfor %}
    </ul>

    <h3>Workout Recommendations:</h3>
    <p>{{ workout }}</p>
  </div>
</div>
{% endif %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const closeButton = document.querySelector(".close-btn");
    const modal = document.getElementById("resultModal");

    closeButton.addEventListener("click", function () {
      modal.style.display = "none";
    });

    window.addEventListener("click", function (event) {
      if (event.target === modal) {
        modal.style.display = "none";
      }
    });
  });
</script>

{% endblock %}
